/* Alternate the background color of the output rows */
.list-group-item:nth-child(even) {
   background:#f8f8f8 url(../img/background.jpg);
}

.chat-log {
    max-height:200px;
    overflow-y:scroll;
}